@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Rubik+Mono+One&display=swap");
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
}

p {
  font-family: Onest;
  color: #2f3e46;
  font-size: 25px;
}

h1 {
  font-size: 55px;
  font-family: Rubik Mono One;
  color: transparent;
  -webkit-text-stroke-color: rgb(255, 104, 104);
  -webkit-text-stroke-width: 2.5px;
  letter-spacing: 2px;
}

h2 {
  font-size: 55px;
  text-align: center;
  font-family: Onest;
  color: rgb(255, 104, 104);
  -webkit-text-stroke-color: rgb(131, 49, 49);
  -webkit-text-stroke-width: 0.6px;
}

button {
  width: 150px;
  height: 50px;
}

.loader-bg {
  margin-top: -50px;
  padding: 0;
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 200%;
  background-color: white;
}

.loader {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  z-index: 99;
  transform: rotate(165deg);
}
.loader::before, .loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
.loader {
  position: absolute;
  top: 45%;
  left: 48.7%;
}

.arrow {
  width: 50px;
  height: 50px;
  transform: translate(50px, 100px);
}

.large-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  height: 1200px;
  overflow-y: auto;
  scrollbar-width: none;
}

.container {
  width: 65%;
  background-color: rgba(245, 235, 224, 0.55);
  margin: 0px 135px 150px 150px;
  padding: 50px;
  padding-top: 0px;
  border-radius: 25px;
  border: 3px solid rgba(186, 180, 180, 0.7);
}
.container img {
  width: 350px;
  height: 200px;
}

.card-details img {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.map {
  display: flex;
  justify-content: center;
}

.leave__comm {
  width: 300px;
}
.leave__comm p {
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
}
.leave__comm input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 15PX;
  margin-bottom: 15px;
  outline: none;
}

.comms {
  display: flex;
  height: auto;
}

.comms__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: auto;
  gap: 25px;
}

.comm__el {
  width: 600px;
  height: auto;
  background-color: rgba(202, 202, 202, 0.55);
  border: 3px solid rgba(186, 180, 180, 0.7);
  border-radius: 25px;
}
.comm__el p {
  margin-left: 15px;
  margin-top: 5px;
  font-family: Onest;
  color: #2f3e46;
}
.comm__el h3 {
  margin-left: 15px;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Onest;
  font-weight: 400;
}

.comm__btn {
  border: none;
  border-radius: 25px;
  height: 50px;
  font-size: 20px;
  font-family: Onest;
}

.delBtn {
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
  background-color: rgb(228, 73, 73);
  font-size: 20px;
  font-family: Onest;
  color: white;
}/*# sourceMappingURL=page.css.map */